In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_excel('blosum50.xlsx')
df

   Blosum 50  A  R  N  D   C  Q  E  G   H ...  L  K  M  F   P  S  T   W  Y  V
0          A  5 -2 -1 -2  -1 -1 -1  0  -2 ... -2 -1 -1 -3  -1  1  0  -3 -2  0
1          R -2  7 -1 -2  -4  1  0 -3   0 ... -3  3 -2 -3  -3 -1 -1  -3 -1 -3
2          N -1 -1  7  2  -2  0  0  0   1 ... -4  0 -2 -4  -2  1  0  -4 -2 -3
3          D -2 -2  2  8  -4  0  2 -1  -1 ... -4 -1 -4 -5  -1  0 -1  -5 -3 -4
4          C -1 -4 -2 -4  13 -3 -3 -3  -3 ... -2 -3 -2 -2  -4 -1 -1  -5 -3 -1
5          Q -1  1  0  0  -3  7  2 -2   1 ... -2  2  0 -4  -1  0 -1  -1 -1 -3
6          E -1  0  0  2  -3  2  6 -3   0 ... -3  1 -2 -3  -1 -1 -1  -3 -2 -3
7          G  0 -3  0 -1  -3 -2 -3  8  -2 ... -4 -2 -3 -4  -2  0 -2  -3 -3 -4
8          H -2  0  1 -1  -3  1  0 -2  10 ... -3  0 -1 -1  -2 -1 -2  -3  2 -4
9          I -1 -4 -3 -4  -2 -3 -4 -4  -4 ...  2 -3  2  0  -3 -3 -1  -3 -1  4
10         L -2 -3 -4 -4  -2 -2 -3 -4  -3 ...  5 -3  3  1  -4 -3 -1  -2 -1  1
11         K -1  3  0 -1  -3  2  1 -2   0 ... -3  6 -2 -4  -1  0 -1  -3 -2 -3
12         M -1 -2 -2 -4  -2  0 -2 -3  -1 ...  3 -2  7  0  -3 -2 -1  -1  0  1
13         F -3 -3 -4 -5  -2 -4 -3 -4  -1 ...  1 -4  0  8  -4 -3 -2   1  4 -1
14         P -1 -3 -2 -1  -4 -1 -1 -2  -2 ... -4 -1 -3 -4  10 -1 -1  -4 -3 -3
15         S  1 -1  1  0  -1  0 -1  0  -1 ... -3  0 -2 -3  -1  5  2  -4 -2 -2
16         T  0 -1  0 -1  -1 -1 -1 -2  -2 ... -1 -1 -1 -2  -1  2  5  -3 -2  0
17         W -3 -3 -4 -5  -5 -1 -3 -3  -3 ... -2 -3 -1  1  -4 -4 -3  15  2 -3
18         Y -2 -1 -2 -3  -3 -1 -2 -3   2 ... -1 -2  0  4  -3 -2 -2   2  8 -1
19         V  0 -3 -3 -4  -1 -3 -3 -4  -4 ...  1 -3  1 -1  -3 -2  0  -3 -1  5

[20 rows x 21 columns]

In [2]:
df2=pd.read_excel('globalallignment.xlsx')
df2.head(21)

  Global Allignment  Unnamed: 1  H  E  A  G  A.1  W  G.1  H.1  E.1  E.2
0               NaN           0  0  0  0  0    0  0    0    0    0    0
1                 P           0  0  0  0  0    0  0    0    0    0    0
2                 A           0  0  0  0  0    0  0    0    0    0    0
3                 W           0  0  0  0  0    0  0    0    0    0    0
4                 H           0  0  0  0  0    0  0    0    0    0    0
5                 E           0  0  0  0  0    0  0    0    0    0    0
6                 A           0  0  0  0  0    0  0    0    0    0    0
7                 E           0  0  0  0  0    0  0    0    0    0    0

In [3]:
cost = -8

for i in range(0,11):
    df2.iloc[0,i+1] = i*-8
    
    
for j in range(0,8):
    df2.iloc[j,1] = j*-8
    
df2.head(8)

  Global Allignment  Unnamed: 1  H   E   A   G  A.1   W  G.1  H.1  E.1  E.2
0               NaN           0 -8 -16 -24 -32  -40 -48  -56  -64  -72  -80
1                 P          -8  0   0   0   0    0   0    0    0    0    0
2                 A         -16  0   0   0   0    0   0    0    0    0    0
3                 W         -24  0   0   0   0    0   0    0    0    0    0
4                 H         -32  0   0   0   0    0   0    0    0    0    0
5                 E         -40  0   0   0   0    0   0    0    0    0    0
6                 A         -48  0   0   0   0    0   0    0    0    0    0
7                 E         -56  0   0   0   0    0   0    0    0    0    0

In [4]:
def blos(M, K):
    c = df2.columns[K+2].split(".")[0]
    r = df2.iloc[M+1,0]
    for a in range(1,20):
        for b in range(0,19):
            if (df.columns[a]==c) and (df.iloc[b,0]==r):
                bn = df.iloc[b,a] 
                res = int(bn) + int(df2.iloc[M+0,K+1])
                # df2.iloc[M+1,K+2] = df2.iloc[M+0,K+1] + bn
                return res

In [5]:
arrow =[]

for M in range(0,7):
    for K in range(0,10):
        #if (int(df2.iloc[M+1,K+1]) >= int(df2.iloc[M+0,K+2])) and (int(df2.iloc[M+1,K+1]) >= int(df2.iloc[M+0,K+1])):
            #df2.iloc[M+1,K+2] = df2.iloc[M+1,K+1] + cost
        #if (int(df2.iloc[M+1,K+1]) <= int(df2.iloc[M+0,K+2])) and (int(df2.iloc[M+0,K+2]) >= int(df2.iloc[M+0,K+1])):
            #df2.iloc[M+1,K+2] = df2.iloc[M+0,K+2] + cost
        #else:
         #   blos(M, K)
        upelement = int(df2.iloc[M+1,K+1]) + cost
        leftelement = int(df2.iloc[M+0,K+2]) + cost
        diagelement = blos(M, K)
        list1 = [diagelement, upelement,leftelement]
        re = max(list1)
        df2.iloc[M+1,K+2] = int(re)
        if re == diagelement:
            arrow.extend([M,K+1, M+1,K+2])
            #arrow.extend([df2.iloc[M+0,K+1], df2.iloc[M+1,K+2]])
        elif re == upelement:
            #arrow.extend([df2.iloc[M+1,K+1], df2.iloc[M+1,K+2]])
            arrow.extend([M+1,K+1, M+1,K+2])
        elif re == leftelement:
            #arrow.extend([df2.iloc[M+0,K+2], df2.iloc[M+1,K+2]])
            arrow.extend([M,K+2, M+1,K+2])
    
df2.head(8)

  Global Allignment  Unnamed: 1   H   E   A   G  A.1   W  G.1  H.1  E.1  E.2
0               NaN           0  -8 -16 -24 -32  -40 -48  -56  -64  -72  -80
1                 P          -8  -2  -9 -17 -25  -33 -41  -49  -57  -65  -73
2                 A         -16 -10  -3  -4 -12  -20 -28  -36  -44  -52  -60
3                 W         -24 -18 -11  -6  -7  -15  -5  -13  -21  -29  -37
4                 H         -32 -14 -18 -13  -8   -9 -13   -7   -3  -11  -19
5                 E         -40 -22  -8 -16 -16   -9 -12  -15   -7    3   -5
6                 A         -48 -30 -16  -3 -11  -11 -12  -12  -15   -5    2
7                 E         -56 -38 -24 -11  -6  -12 -14  -15  -12   -9    1

In [6]:
# First element: where the arrow is pointing to, Second element: where the arrow is pointing from
a = np.array(arrow)
# arrow = np.reshape(arrow, (-1, 140))
print(a.reshape(8, -1))
#arrow = np.split(arrow, 7)
#print(np.matrix(arrow))
#lets convert that to numpy array
#num = np.array(arrow)

#currently its shape is single dimensional, lets change that to a two dimensional matrix that turns it into the clean breaks you want
#reshaped = num.reshape(7,10,2)
#print(reshaped)
#now construct a beautiful table
#pd.DataFrame(reshaped)

[[ 0  1  1  2  0  2  1  3  0  3  1  4  1  4  1  5  0  5  1  6  1  6  1  7
   1  7  1  8  1  8  1  9  0  9  1]
 [10  0 10  1 11  1  1  2  2  1  2  2  3  1  3  2  4  2  4  2  5  1  5  2
   6  2  6  2  7  2  7  2  8  2  8]
 [ 2  9  2  9  2 10  2 10  2 11  2  2  3  2  2  3  3  3  2  3  3  4  2  4
   3  5  2  5  3  6  2  6  3  7  3]
 [ 7  3  8  3  8  3  9  3  9  3 10  3 10  3 11  3  1  4  2  3  2  4  3  3
   3  4  4  3  4  4  5  3  5  4  6]
 [ 3  7  4  7  3  7  4  8  3  8  4  9  4  9  4 10  4 10  4 11  4  2  5  2
   4  2  5  3  5  3  5  4  4  4  5]
 [ 5  4  5  5  6  4  6  5  7  4  8  5  8  4  8  5  9  4  9  5 10  4 10  5
  11  5  2  6  2  5  3  6  3  5  3]
 [ 6  4  6  4  6  5  5  5  6  6  5  6  6  7  5  7  6  8  5  9  6  9  5 10
   6 10  5 10  6 11  6  2  7  2  6]
 [ 2  7  3  6  4  7  4  6  4  7  5  6  5  7  6  6  6  7  7  6  7  7  8  6
   8  7  9  6  9  7 10  6 10  7 11]]

In [7]:
back = []
letter1 = []
letter2 = []

#if arrow[len(arrow)-1] == 11:
K = arrow[len(arrow)-1]
M = arrow[len(arrow)-1-1]
h1 = arrow[len(arrow)-1-2]
h2 = arrow[len(arrow)-1-3]
back.append(df2.iloc[M,K])
letter1.append(df2.iloc[M,0])
letter2.append(df2.columns[K].split(".")[0])


print(len(arrow))
i = 280 -5

while i > 0:
    if ((h1 == 9) and (h2 == 4)) and ((arrow[i-2] == 9) and (arrow[i-3] == 4)):
        i -=2
    elif ((h1 == 8) and (h2 == 3)) and ((arrow[i-2] == 8) and (arrow[i-3] == 3)):
        i -=2
    elif ((h1 == 6) and (h2 == 2)) and ((arrow[i-2] == 6) and (arrow[i-3] == 2)):
        i -=2
    elif ((h1 == 3) and (h2 == 0)) and ((arrow[i-2] == 3) and (arrow[i-3] == 0)):
        i -=2
    elif ((arrow[i] == h1) and (arrow[i-1] == h2)):
            print(arrow[i], arrow[i-1], arrow[i-2],arrow[i-3])
            K = arrow[i]
            M = arrow[i-1]
            h1 = arrow[i-2]
            h2 = arrow[i-3]
            back.append(df2.iloc[M,K])
            letter1.append(df2.iloc[M,0])
            letter2.append(df2.columns[K].split(".")[0])
            i -=3
            if i<10:
                back.append(df2.iloc[0,3])
    else:
        i -=1

back.extend([0])
back = np.asarray(back)
#letter2
back
#print(df2.iloc[0,3])

280
10 6 10 5
10 5 9 4
9 4 8 3
8 3 7 3
7 3 6 2
6 2 5 1
5 1 4 1
4 1 3 0

array([  1,  -5,   3,  -3, -13,  -5, -20, -25, -17, -16,   0], dtype=int64)

In [8]:
# df2.iloc[7,11]
back = []

if arrow[len(arrow)-1] == 1:
    arrowt = arrow[len(arrow)-1]
    arrowh = arrow[len(arrow)-1-1]
    back.extend([arrowt,arrowh])

for i in range(len(arrow)-3,0, -2):
    if ((arrow[i] == arrowh) and (arrow[i-1] != arrowh)):
        arrowt = arrow[i]
        arrowh = arrow[i-1]
        back.extend([arrowh])
        

back.extend([0])
back = np.asarray(back)
back
#arrow[len(arrow)-1]

NameError: name 'arrowh' is not defined

In [9]:
cost = -8

def blos(r, c):
    cname = df2.columns[c]
    rname = df2.index[r]
    if r == 0 or c == 0:
        return np.nan
    else:
        return int(df[rname][cname]) + int(df2.iloc[r-1,c-1])

arrow =[]

for r in range(0,35):
    for c in range(0,34):
        upelement = int(df2.iloc[r-1,c]) + cost if r >= 1 else np.nan
        leftelement = int(df2.iloc[r,c-1]) + cost if c >= 1 else np.nan
        diagelement = blos(r, c)
        if r == 0 and c == 0:
            upelement = 0
        list1 = np.array([diagelement, upelement,leftelement])
        re = np.nanargmax(list1)
        df2.iloc[r,c] = list1[re]
        if list1[re] == diagelement:
           # vec = [r-1,c-1]
            arrow.extend([r-1,c-1, r,c])
        elif list1[re] == upelement:
          #  vec = [r-1,c]
            arrow.extend([r-1,c, r,c])
        elif list1[re] == leftelement:
         #   vec = [r,c-1]
            arrow.extend([r,c-1, r,c])
        #df1.iloc[r,c] = np.array([list1[re], vec[0], vec[1]])
    
df2

IndexError: index 12 is out of bounds for axis 0 with size 12

In [10]:
back = []
letter1 = []
letter2 = []


K = arrow[len(arrow)-1]
M = arrow[len(arrow)-1-1]
h1 = arrow[len(arrow)-1-3]
h2 = arrow[len(arrow)-1-2]
back.append(df2.iloc[M,K])
letter1.append(df2.index[M])
letter2.append(df2.columns[K])
i = len(arrow) -5
print(len(arrow))

while i > 0:
    if ((h1 <= arrow[i-2]) and (h2 <= arrow[i-3])):
        i -=2
    elif ((arrow[i] == h1) and (arrow[i-1] == h2)):
#             print(h1,h2)
#             print(arrow[i-2],arrow[i-3])
            K = arrow[i]
            M = arrow[i-1]
            h1 = arrow[i-2]
            h2 = arrow[i-3]
            back.append(df2.iloc[M,K])
#             print(df2.iloc[M,K])
            if i>6:
                if((K==h1) and (M!=h2)):
                    letter2.append('-')
                    letter1.append(df2.index[M])
                    #i -=1
                elif((K!=h1) and (M==h2)):
                    letter1.append('-')
                    letter2.append(df2.columns[K])
                    #i -=1
                elif((K!=h1) and (M!=h2)):
                    #if M != K+2:
                    letter1.append(df2.index[M])
                    #print(df2.index[M] ,df2.columns[K],M, K)
                    letter2.append(df2.columns[K])
#             letter1.append(df2.index[M])
#             letter2.append(df2.columns[K])
            i -=3
    else:
        i -=1
    
print(letter2[::-1])
print(letter1[::-1])
print(back)

48
['E.2']
[0]
[-88.0]