**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

You are getting to the point where you can own an analysis from beginning to end. So you'll do more data exploration in this exercise than you've done before.  Before you get started, run the following set-up code as usual.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

You'll work with a dataset about taxi trips in the city of Chicago. Run the cell below to fetch the `chicago_taxi_trips` dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

You are curious how much slower traffic moves when traffic volume is high. This involves a few steps.

### 1) Find the data
Before you can access the data, you need to find the table name with the data.

*Hint*: Tab completion is helpful whenever you can't remember a command. Type `client.` and then hit the tab key. Don't forget the period before hitting tab.

In [3]:
# Your code here to find the table name
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

taxi_trips

In [4]:
# Write the table name as a string below
table_name = 'taxi_trips'

# Check your answer
q_1.check()

Correct

For the solution, uncomment the line below.

In [5]:
#q_1.solution()

### 2) Peek at the data

Use the next code cell to peek at the top few rows of the data. Inspect the data and see if any issues with data quality are immediately obvious.

In [6]:
# Your code here
# # Construct a reference to the "taxi_trips" table
# table_ref = dataset_ref.table("taxi_trips")

# # API request - fetch the table
# table = client.get_table(table_ref)

# Preview the first five lines of the "taxi_trips" table
client.list_rows(table, max_results=5).to_dataframe()

                                 unique_key       ...        dropoff_location
0  81d6112c1bbd0187eb51167bda64e3856e41efc9       ...                    None
1  74af979c83c7681decefae3248c4be53eb83dd75       ...                    None
2  6975ab2efb215e30f55c6b43e96dea23b19ccd98       ...                    None
3  628ce3fb7694f62f32a1bf22def72e369f216317       ...                    None
4  bf1828ce376a873a37b390a2d348a102da260bf9       ...                    None

[5 rows x 23 columns]

After deciding whether you see any important issues, run the code cell below.

In [7]:
#q_2.solution()

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT **EXTRACT(YEAR FROM trip_start_timestamp)**</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).

In [8]:
# Your code goes here
rides_per_year_query = """
                        SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year, COUNT(1) AS num_trips
                        FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                        GROUP BY year
                        ORDER BY year
                       """

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query_job = client.query(rides_per_year_query, job_config=safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_year_result = rides_per_year_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_year_result)

# Check your answer
q_3.check()

   year  num_trips
0  2013   27217716
1  2014   37395436
2  2015   32385875
3  2016   31759339
4  2017   24988003
5  2018   20732088
6  2019    7032967

Correct

For a hint or the solution, uncomment the appropriate line below.

In [9]:
#q_3.hint()
#q_3.solution()

### 4) Dive slightly deeper

It's odd that 2017 had so few rides. You should wonder whether it was systematic under-reporting throughout the year, or whether some months are missing.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2017.
2. Modify the query to extract the month rather than the year.

In [10]:
# Your code goes here
rides_per_month_query = """
                        SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month, COUNT(1) AS num_trips
                        FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                        WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2017
                        GROUP BY month
                        ORDER BY month
                       """

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query, job_config=safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_month_result = rides_per_month_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_month_result)

# Check your answer
q_4.check()

    month  num_trips
0       1    1972071
1       2    1909802
2       3    2362105
3       4    2194702
4       5    2323386
5       6    2324472
6       7    2054299
7       8    2079861
8       9    1950631
9      10    2141197
10     11    1907997
11     12    1767480

Correct

For a hint or the solution, uncomment the appropriate line below.

In [11]:
#q_4.hint()
#q_4.solution()

### 5) Write the query

It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

For 2017, we're missing August and everything after. So restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` between **2017-01-01** and **2017-07-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

In [12]:
# Your code goes here
speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day, 
                          trip_miles, 
                          trip_seconds
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_start_timestamp > '2017-01-01' AND 
                         trip_start_timestamp < '2017-07-01' AND 
                         trip_seconds > 0 AND 
                         trip_miles > 0
               )
               SELECT hour_of_day, 
                      COUNT(1) AS num_trips, 
                      3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe()
# View results
print(speeds_result)

# Check your answer
q_5.check()

    hour_of_day  num_trips    avg_mph
0             0     319339  20.230524
1             1     266529  18.937621
2             2     210147  18.777070
3             3     159668  20.158048
4             4     122183  26.736014
5             5     119312  30.769172
6             6     182738  24.588313
7             7     358406  17.735967
8             8     541775  15.079892
9             9     565548  16.543882
10           10     525120  18.539614
11           11     594603  18.928379
12           12     622324  17.838745
13           13     630181  17.671089
14           14     622465  16.974239
15           15     640430  15.688418
16           16     701435  14.283888
17           17     756627  12.462955
18           18     768251  13.646810
19           19     701064  16.642882
20           20     598614  19.536777
21           21     552726  20.433874
22           22     501095  19.531374
23           23     399587  19.877046

Correct

For the solution, uncomment the appropriate line below.

In [13]:
#q_5.solution()

That's a hard query. If you made good progress towards the solution, congratulations!

### 6) Ponder the results
Something is wrong with either the raw data or our last query. What fact about the raw data doesn't seem right?

If you can identify the problem, how would you look at the raw data to verify that the problem is in the raw data and not just in your results? Check your answer below.

In [14]:
q_6.solution()

Solution:
The results show rides with hours 1-12. But there should be results in the afternoon (hours 13-24).

Perhaps the raw data has lost the distinction between AM and PM values.

You can review 200 rows of the raw data with the commands:
```python
# Construct a reference to the "taxi_trips" table
table_ref = dataset_ref.table("taxi_trips")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "taxi_trips" table
client.list_rows(table, max_results=200).to_dataframe()
```

You'll see that the timestamps are all in the AM hours (hours are less than or equal to 12.)

At first you might worry that the data is coming back sorted by time, but the variety of dates suggests that's not the case.
Part of data science is tracking down exactly this type of problem. If you were in an organization working on this, you could show the evidence you've just collected (e.g. the breakdown of trips by hour) to someone responsible for collecting the data, and help them debug the data collection and storage process.

In [15]:
# Construct a reference to the "taxi_trips" table
table_ref = dataset_ref.table("taxi_trips")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "taxi_trips" table
client.list_rows(table, max_results=200).to_dataframe()

                                   unique_key                ...                                 dropoff_location
0    81d6112c1bbd0187eb51167bda64e3856e41efc9                ...                                             None
1    74af979c83c7681decefae3248c4be53eb83dd75                ...                                             None
2    6975ab2efb215e30f55c6b43e96dea23b19ccd98                ...                                             None
3    628ce3fb7694f62f32a1bf22def72e369f216317                ...                                             None
4    bf1828ce376a873a37b390a2d348a102da260bf9                ...                                             None
5    6f5df6e4de83319c55a7f8fac895e84036fe7324                ...                                             None
6    1471ce23b7a7a28cef9a392122b15e17094bfec3                ...                                             None
7    27d49e84c4323eb99d422b9bc09d571833f2974d                ...                                             None
8    ac1bf0da9c359eecf1a1d06f10ea29ef69aa36dc                ...                                             None
9    2d7bc5024bc738524416320dac261047d9cdbd3c                ...                                             None
10   3fdbfabee8f1e1b75ce9cfdd8c97c52438aaf31b                ...                                             None
11   32d343c3dd3728508c37762fd5bf102c7b7a961a                ...                                             None
12   010cb44eb80acbe37603af531c2c71c66fed3819                ...                                             None
13   e1286784f45968ff498d7d69909a81fbbd31c8e7                ...                                             None
14   726f004d28f9aa1c335c94f883c3aa1df81c95e2                ...                                             None
15   706277765ddd7c4fb46cdd080fe78a3719fe1641                ...                                             None
16   c7dfbc914d5b27fdec666a978f7495a4b55a28fc                ...                                             None
17   645ff30978acc305cd35272cde2acc6ed188dc13                ...                                             None
18   28050f9c2008cf3858f2200d016ebe434cacc84f                ...                                             None
19   ce850c549176e18b11038c34fb0e1355f7d5e78a                ...                                             None
20   fcb2651642941a1e8831acadf55bbcd925013eb6                ...                                             None
21   102488e6efd76319e36f227e1437c02022af8d11                ...                                             None
22   a6fdd9bbf8df7428aeeadd1ef0a049fe0c610d8d                ...                                             None
23   62a9a718adca277a9489a597ce3604fae6197305                ...                                             None
24   9280e7af83b745eb62923612d8acb723b4a0a8ac                ...                                             None
25   b19e7bb57aeb73c1c71ffd41a47a949904486db8                ...                                             None
26   d72904edadcbf8f9068e458d9a535d76c6ac0738                ...                                             None
27   1699d7f740618fa9ba17463376d4e14ce8749b22                ...                                             None
28   590bd9a80c87ccc88beeac4f6c1c37cecd2ceb29                ...                                             None
29   96caa35816e53619129ffd70029165c2541fb7db                ...                                             None
..                                        ...                ...                                              ...
170  fde831f2b8740a748189a7a029e58a426434181b                ...                                             None
171  7c9379d8abb0d9c603322dac4fd972384f6b99af                ...                                             None
172  c71a189be828d5b6f87ea89cc2a04da79bbac553                ...                                             None
173  9b6def4f8dbad99c429c293f1fc5a474fca37fee                ...                                             None
174  99c03e79738b5d877cdb54b07ddccfd928d8e0cc                ...                                             None
175  90fbed59ba3acec71455f8bbbed160da894b3626                ...                                             None
176  c3a4ec129fee64a7ecc111f41d30863b545a857c                ...                                             None
177  81b95d74923138121d2e0b3aa6d7fbe2aeb6e912                ...                                             None
178  8c51aca02cb9b2a2ea1281d92ee643add5ebe14e                ...                                             None
179  2138315738e9b73d4be77ccfadcaf76d768002fd                ...                                             None
180  523892dec5b8ccd22e2eb1cf1944fabfd61c1d66                ...                                             None
181  3a8aa27e42b2c4bcfca8a3c7b520245ca454f1a9                ...                                             None
182  fb2fb16d4f52330028679dd30b0e6dc7b5eefc09                ...                                             None
183  39da4cfbdfc4257b72ed9b2067584ae3f6bee58f                ...                                             None
184  b7ebafaf1a98dde0e0cf7eae66ab6c0f409813da                ...                 POINT (-87.7215590627 41.968069)
185  2c73767a8395bb5962e8e80377e6485190c96a99                ...                 POINT (-87.7215590627 41.968069)
186  8a5b3fc99c7c38c4bb1188a2ac9807ba7e29d9cd                ...                 POINT (-87.7215590627 41.968069)
187  919a03648e6672e9d81d8a2a3200ff06ca802ebb                ...                 POINT (-87.7215590627 41.968069)
188  65f5177f693c4b69e4a98af2e8839f4b57c2e813                ...                 POINT (-87.7215590627 41.968069)
189  b111c4292c3fd217c26d935bb0ee90f70a8f2ab4                ...                 POINT (-87.7215590627 41.968069)
190  32edfd2125e700762c62cf68567c5b088c95e363                ...                 POINT (-87.7215590627 41.968069)
191  9b59236fa9ecdb8dcbf0499c75ea36decb1ee047                ...                 POINT (-87.7215590627 41.968069)
192  54fef8b6026ebc156407b666627f1f2bcd7665ad                ...                 POINT (-87.7215590627 41.968069)
193  23cfa8e0aa1c105d2b2b8b66aa4e83d16de07d28                ...                 POINT (-87.7215590627 41.968069)
194  4381712e7096a728e0ee670f76709114cfb1e3f0                ...                 POINT (-87.7215590627 41.968069)
195  c893a448e76865262e1a01eb403b98af08c3341c                ...                 POINT (-87.7215590627 41.968069)
196  acb2c4d70f579128b10f6b09c5d142b64c66d313                ...                 POINT (-87.7215590627 41.968069)
197  6b421cf11929b60aa5333525e98eb7c2efd4f323                ...                 POINT (-87.7215590627 41.968069)
198  2191b85c0206291ec1c658750c651e9268e25b53                ...                 POINT (-87.7215590627 41.968069)
199  3860f529505ac097da790a32a3b8a328b43f7824                ...                 POINT (-87.7215590627 41.968069)

[200 rows x 23 columns]

# Keep going

You can write very complex queries now with a single data source. But nothing expands the horizons of SQL as much as the ability to combine or **JOIN** tables.

**[Click here](https://www.kaggle.com/dansbecker/joining-data)** to start the last lesson in the SQL micro-course.

---
**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum) to chat with other Learners.*