**[SQL Course Home Page](https://www.kaggle.com/learn/SQL)**

---

# Intro

Try some **SELECT** statements of your own to see if you can answer the questions from a large dataset of air pollution measurements.

Again, run the cell below to set everything up.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex2 import *

# import package with helper functions 
import bq_helper

# create a helper object for this dataset
open_aq = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="openaq")

print("Setup Complete")

# print list of tables in this dataset (there's only one!)
print('Tables list: {}'.format(open_aq.list_tables()))

# print look at top few rows
open_aq.head('global_air_quality')

Using Kaggle's public dataset BigQuery integration.
Using Kaggle's public dataset BigQuery integration.
Setup Complete
Tables list: ['global_air_quality']

                        location          ...           averaged_over_in_hours
0  BTM Layout, Bengaluru - KSPCB          ...                             0.25
1  BTM Layout, Bengaluru - KSPCB          ...                             0.25
2  BTM Layout, Bengaluru - KSPCB          ...                             0.25
3  BTM Layout, Bengaluru - KSPCB          ...                             0.25
4  BTM Layout, Bengaluru - KSPCB          ...                             0.25

[5 rows x 11 columns]

Now you'll write and run the code to answer the questions below.

# Question

#### 1) Which countries have reported pollution levels in units of "ppm"? 

In case it's useful to see an example query, here's some code from the tutorial:

```
query = """SELECT city
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE country = 'US'
        """
open_aq.query_to_pandas_safe(query)```

In [2]:
# Your Code Goes Here
first_query = """SELECT DISTINCT country
                 FROM `bigquery-public-data.openaq.global_air_quality`
                 WHERE unit = 'ppm'
              """

first_results = open_aq.query_to_pandas_safe(first_query)

# View top few rows of results
print(first_results.head())

q_1.check()

  country
0      US
1      AU
2      CL
3      MX
4      BA

Correct

For the solution, uncomment the line below.

In [3]:
#q_1.solution()

#### 2) Select all columns of the rows where pollution levels were reported to be exactly 0?

In [4]:
# Your Code Goes Here

zero_pollution_query = """
                       SELECT *
                       FROM `bigquery-public-data.openaq.global_air_quality`
                       WHERE value = 0
                       """

zero_pollution_results = open_aq.query_to_pandas_safe(zero_pollution_query)

print(zero_pollution_results.head())

q_2.check()

                                        location          ...           averaged_over_in_hours
0                     Victoria Memorial - WBSPCB          ...                             0.25
1  Rabindra Bharati University, Kolkata - WBSPCB          ...                             0.25
2                               Końskie, MOBILNA          ...                              NaN
3                               Końskie, MOBILNA          ...                              NaN
4                                Płock-Gimnazjum          ...                              NaN

[5 rows x 11 columns]

Correct

For the solution, uncomment the line below:

In [5]:
#q_2.solution()

That query wasn't too complicated, and it got the data you want. But these **SELECT** queries don't organizing data in a way that answers the most interesting questions. For that, we'll need the **GROUP BY** command. 

If you know how to use `groupby` in Pandas, this is similar. But BigQuery works quickly with far larger datasets.

Fortunately, that's next.

---
**[SQL Course Home Page](https://www.kaggle.com/learn/SQL)**

# Keep Going
**[GROUP BY](https://www.kaggle.com/dansbecker/group-by-having-count)** clauses and their extensions give you the power to pull interesting statistics out of data, rather than receiving it in just it's raw format.